name: Develop Pipeline

on:
  pull_request:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Verificar variáveis de ambiente
        run: |
          if [ -z "${{ secrets.SUPABASE_DEVELOP_URL }}" ] || [ -z "${{ secrets.SUPABASE_PASSWORD }}" ] || [ -z "${{ secrets.SUPABASE_USERNAME }}" ]; then
            echo "Erro: Variáveis de ambiente ausentes."
            echo "Certifique-se de configurar SUPABASE_DEVELOP_URL, SUPABASE_PASSWORD e SUPABASE_USERNAME nos Secrets do GitHub."
            exit 1
          fi

      - name: Instalar PostgreSQL CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Aplicar migrações no Supabase (Develop)
        env:
          SUPABASE_DEVELOP_URL: ${{ secrets.SUPABASE_DEVELOP_URL }}
          SUPABASE_PASSWORD: ${{ secrets.SUPABASE_PASSWORD }}
          SUPABASE_USERNAME: ${{ secrets.SUPABASE_USERNAME }}
        run: |
          echo "Aplicando migrações no banco de dados Supabase (Develop)..."
          for file in $(ls migrations/*.sql); do
            echo "Executando $file..."
            PGPASSWORD=${SUPABASE_PASSWORD} psql -h ${SUPABASE_DEVELOP_URL} -p 6543 -U ${SUPABASE_USERNAME} -d "postgres" -f $file
          done

      - name: Deploy para GitHub Pages (Develop)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./ # Diretório onde o `index.html` está localizado
